<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Mercedes</string>
		<key>image</key>
		<string>Brand_Mercedes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Audi</string>
		<key>image</key>
		<string>Brand_Audi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Porche</string>
		<key>image</key>
		<string>Brand_Porche</string>
	</dict>
</array>
</plist>
