<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alfa Romeo</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ferrari</string>
		<key>image</key>
		<string>Brand_Ferrari</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lamborghini</string>
		<key>image</key>
		<string>Brand_Lamborghini</string>
	</dict>
</array>
</plist>
